<section class="portfolio">

    <div class="card">
        <img src="img/p1.png">
        <p>Basketball Documentary</p>
    </div>

    <div class="card">
        <img src="img/p2.png">
        <p>Coffee Branding Package</p>
    </div>

    <div class="card">
        <img src="img/p3.png">
        <p>Workout Line Shoot</p>
    </div>

    <div class="card">
        <img src="img/p4.png">
        <p>Volleyball Team Promo</p>
    </div>

    <div class="card">
        <img src="img/p5.png">
        <p>Corporate Videography</p>
    </div>

    <div class="card">
        <img src="img/p6.png">
        <p>Cafe Brand Shoot</p>
    </div>

</section>
